<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">求模逆元</h6>
    <form>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputNum" class="col-form-label">输入整数：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="inputNumDec">
                <option value="1" selected>十进制</option>
                <option value="0">十六进制</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" id="inputNum" class="form-control" aria-describedby="passwordHelpInline">
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputMod" class="col-form-label">输入模数：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="inputModDec">
                <option value="1" selected>十进制</option>
                <option value="0">十六进制</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" id="inputMod" class="form-control" aria-describedby="passwordHelpInline">
        </div>
    </div>
    <div class="mt-2 row g-3">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="getInverse()">提交</button>
        </div>
    </div>
    <div class="mt-2 row g-3">
        <label for="resultInverse" class="col-auto col-form-label">输出结果：</label>
    </div>
    <div class="mt-2 row">
        <div class="col-12">
            <textarea type="text" readonly class="form-control-plaintext" id="resultInverse" value="" rows="4"></textarea>
        </div>
    </div>
    </form>
</div>

<script>

function getInverse() {
    let inputNumValue = document.querySelector("#inputNum").value;
    let inputNumValueDec = document.querySelector("#inputNumDec").value;
    let inputModValue = document.querySelector("#inputMod").value;
    let inputModValueDec = document.querySelector("#inputModDec").value;

    if (inputNumValue !== '' && inputModValue !== '') {
        let params = {
            num: inputNumValue,
            mod: inputModValue,
            is_num_dec: inputNumValueDec,
            is_mod_dec: inputModValueDec
        };

        document.querySelector("#resultInverse").value = "提交到服务器中...(如果等待时间过久，请重新提交)";
        url = "https://api.jeza-chen.com/crypto/calculate_inverse?";
        fetch(url + new URLSearchParams(params)).then(rsp => {
            if (rsp.status === 200) {
                rsp.json().then(outputValue => {
                    console.log(outputValue);
                    if (outputValue["success"] === true) {
                        document.querySelector("#resultInverse").value = `十进制: ${outputValue["result_dec"]}\n十六进制: ${outputValue["result_hex"]}`;
                    } else {
                        document.querySelector("#resultInverse").value = outputValue["reason"];
                    }
                });
            } else {
                rsp.text().then(reason => {
                    document.querySelector("#resultInverse").value = reason;
                })
            }
        });
    }
}
</script>