<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">RSAES-OAEP 加密/解密（RFC8071的做法）</h6>
    <form>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputDataForRSAESEnc" class="col-form-label">输入待加密数据：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="inputDataForRSAESEncUtf8">
                <option value="1" selected>Unicode字符</option>
                <option value="0">十六进制</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" id="inputDataForRSAESEnc" class="form-control" aria-describedby="passwordHelpInline">
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputLabelForRSAESEnc" class="col-form-label">输入label：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="inputLabelForRSAESEncUtf8">
                <option value="1" selected>Unicode字符</option>
                <option value="0">十六进制</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" id="inputLabelForRSAESEnc" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="labelHelpInline3" class="form-text">
                可留空
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputNForRSAESEnc" class="col-form-label">输入n：</label>
        </div>
        <div class="col-auto">
            <input type="text" id="inputNForRSAESEnc" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="nHelpInlineRSA3" class="form-text">
                必填，十六进制
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputEForRSAESEnc" class="col-form-label">输入e：</label>
        </div>
        <div class="col-auto">
            <input type="text" id="inputEForRSAESEnc" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="eHelpInlineRSA2" class="form-text">
                必填，十六进制
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="hashFuncForOAEPRSAESEnc" class="col-form-label">OAEP所用的哈希函数：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="hashFuncForOAEPRSAESEnc">
                <option value="sha256" selected>SHA-256</option>
                <option value="sha1">SHA-1</option>
            </select>
        </div>
        <div class="col-auto">
            <span id="oaepHashHelpInline" class="form-text">
                对label所采取的哈希函数，默认选SHA-256
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="hashFuncForMgfRSAESEnc" class="col-form-label">MGF所用的哈希函数：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="hashFuncForMgfRSAESEnc">
                <option value="sha256" selected>SHA-256</option>
                <option value="sha1">SHA-1</option>
            </select>
        </div>
        <div class="col-auto">
            <span id="mgfHashHelpInline" class="form-text">
            MGF底层采用的哈希函数，默认选SHA-256
            </span>
        </div>
    </div>
    <div class="mt-2 row g-3">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="getRSAESEnc()">提交</button>
        </div>
    </div>
    <div class="mt-2 row g-3">
        <label for="resultRSAESEnc" class="col-auto col-form-label">输出结果：</label>
    </div>
    <div class="mt-2 row">
        <div class="col-12">
            <textarea type="text" readonly class="form-control-plaintext" id="resultRSAESEnc" value="" rows="4"></textarea>
        </div>
    </div>
    <div class="border-bottom border-black mt-2 mb-2 "></div>
    <div class="row align-items-center mt-2">
        <div class="col-auto">
            <label for="inputCipherForRSAESDec" class="col-form-label">输入待解密的数据（十六进制）：</label>
        </div>
    </div>
    <div class="mt-2 row">
        <div class="col-12">
            <textarea type="text" class="form-control-plaintext border" id="inputCipherForRSAESDec" value="" rows="4"></textarea>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputLabelForRSAESDec" class="col-form-label">输入label：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="inputLabelForRSAESDecUtf8">
                <option value="1" selected>Unicode字符</option>
                <option value="0">十六进制</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" id="inputLabelForRSAESDec" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="labelHelpInline4" class="form-text">
                可留空
            </span>
        </div>
    </div>

    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputNForRSAESDec" class="col-form-label">输入n：</label>
        </div>
        <div class="col-auto">
            <input type="text" id="inputNForRSAESDec" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="nHelpInlineRSA3" class="form-text">
                必填，十六进制
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="inputDForRSAESDec" class="col-form-label">输入d：</label>
        </div>
        <div class="col-auto">
            <input type="text" id="inputDForRSAESDec" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="eHelpInlineRSA2" class="form-text">
                必填，十六进制
            </span>
        </div>
    </div>

    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="hashFuncForOAEPRSAESDec" class="col-form-label">OAEP所用的哈希函数：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="hashFuncForOAEPRSAESDec">
                <option value="sha256" selected>SHA-256</option>
                <option value="sha1">SHA-1</option>
            </select>
        </div>
        <div class="col-auto">
            <span id="oaepHashHelpInline2" class="form-text">
                对label所采取的哈希函数，默认选SHA-256
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center mt-2">
        <div class="col-auto">
            <label for="hashFuncForMGFRSAESDec" class="col-form-label">MGF所用的哈希函数：</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-md col-auto" aria-label=".form-select-lg example" id="hashFuncForMGFRSAESDec">
                <option value="sha256" selected>SHA-256</option>
                <option value="sha1">SHA-1</option>
            </select>
        </div>
        <div class="col-auto">
            <span id="mgfHashHelpInline2" class="form-text">
            MGF底层采用的哈希函数，默认选SHA-256
            </span>
        </div>
    </div>
    <div class="mt-2 row g-3">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="getRSAESDec()">提交</button>
        </div>
    </div>
    <div class="mt-2 row g-3">
        <label for="resultRSAESDec" class="col-auto col-form-label">输出结果：</label>
    </div>
    <div class="mt-2 row">
        <div class="col-12">
            <textarea type="text" readonly class="form-control-plaintext" id="resultRSAESDec" value="" rows="4"></textarea>
        </div>
    </div>
    </form>
</div>

<script>

    function getRSAESEnc() {
        let inputDataValue = document.querySelector("#inputDataForRSAESEnc").value;
        let inputDataValueDec = document.querySelector("#inputDataForRSAESEncUtf8").value;

        let inputLabelValue = document.querySelector("#inputLabelForRSAESEnc").value;
        let inputLabelUtf8 = document.querySelector("#inputLabelForRSAESEncUtf8").value;

        let inputNValue = document.querySelector("#inputNForRSAESEnc").value;
        let inputEValue = document.querySelector("#inputEForRSAESEnc").value;

        let hash = document.querySelector("#hashFuncForOAEPRSAESEnc").value;
        let mgf1Hash = document.querySelector("#hashFuncForMgfRSAESEnc").value;
    
        if (inputDataValue !== '') {
            let params = {
                message: inputDataValue,
                is_message_utf8: inputDataValueDec,

                hash: hash,
                mgf1_hash: mgf1Hash,

                n: inputNValue,
                e: inputEValue,
            };

            if (inputLabelValue !== '') {
                params["label"] = inputLabelValue;
                params["is_label_utf8"] = inputLabelUtf8;
            }
    
            document.querySelector("#resultRSAESEnc").value = "提交到服务器中...(如果等待时间过久，请重新提交)";
            url = "https://api.jeza-chen.com/crypto/rsaes_2048_oaep/enc?";
            fetch(url + new URLSearchParams(params)).then(rsp => {
                if (rsp.status === 200) {
                    rsp.json().then(outputValue => {
                        console.log(outputValue);
                        if (outputValue["success"] === true) {
                            document.querySelector("#resultRSAESEnc").value = `${outputValue["cipher_bytes"]}`;
                        } else {
                            document.querySelector("#resultRSAESEnc").value = outputValue["reason"];
                        }
                    });
                } else {
                    rsp.text().then(reason => {
                        document.querySelector("#resultRSAESEnc").value = reason;
                    })
                }
            });
        }
    }

    function getRSAESDec() {
        let inputDataValue = document.querySelector("#inputCipherForRSAESDec").value;

        let inputLabelValue = document.querySelector("#inputLabelForRSAESDec").value;
        let inputLabelUtf8 = document.querySelector("#inputLabelForRSAESDecUtf8").value;

        let inputNValue = document.querySelector("#inputNForRSAESDec").value;
        let inputDValue = document.querySelector("#inputDForRSAESDec").value;

        let hash = document.querySelector("#hashFuncForOAEPRSAESDec").value;
        let mgf1Hash = document.querySelector("#hashFuncForMGFRSAESDec").value;
    
        if (inputDataValue !== '') {
            let params = {
                cipher: inputDataValue,
                hash: hash,
                mgf1_hash: mgf1Hash,

                n: inputNValue,
                d: inputDValue
            };

            if (inputLabelValue !== '') {
                params["label"] = inputLabelValue;
                params["is_label_utf8"] = inputLabelUtf8;
            }

            url = "https://api.jeza-chen.com/crypto/rsaes_2048_oaep/dec?";
            document.querySelector("#resultRSAESDec").value = "提交到服务器中...(如果等待时间过久，请重新提交)";
            fetch(url + new URLSearchParams(params)).then(rsp => {
                if (rsp.status === 200) {
                    rsp.json().then(outputValue => {
                        console.log(outputValue);
                        if (outputValue["success"] === true) {
                            result_str = `十六进制表示: ${outputValue["message_bytes"]}`;
                            if (outputValue["message_utf8"]) {
                                result_str += `\nUTF8解码后的结果：${outputValue["message_utf8"]}`
                            }
                            document.querySelector("#resultRSAESDec").value = result_str;
                        } else {
                            document.querySelector("#resultRSAESDec").value = outputValue["reason"];
                        }
                    });
                } else {
                    rsp.text().then(reason => {
                        document.querySelector("#resultRSAESDec").value = reason;
                    })
                }
            });
        }
    }
</script>
