<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">计算模幂</h6>
    <form>
        <div class="row g-3 align-items-center mt-2">
            <div class="col-auto">
                <label for="inputG" class="col-form-label">输入底数g：</label>
            </div>
            <div class="col-6">
                <input type="text" id="inputG" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="rHelpInline" class="form-text">
                    十进制表示法
                </span>
            </div>
        </div>
        <div class="mt-2 row g-3">
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="publishTask()">提交</button>
            </div>
        </div>
        <div class="mt-2 row g-3">
            <label for="taskResult" class="col-auto col-form-label">任务结果(十进制)：</label>
        </div>
        <div class="mt-2 row">
            <div class="col-12">
                <textarea type="text" readonly class="form-control-plaintext" id="taskResult" value=""
                    rows="4"></textarea>
            </div>
        </div>
    </form>
</div>

<script>

    function publishTask() {
        let inputGValue = document.querySelector("#inputG").value;

        if (inputGValue !== '') {
            let params = {
                g: inputGValue,
            };

            document.querySelector("#taskResult").value = "提交到服务器中...(如果等待时间过久，请重新提交)";
            url = "https://api.jeza-chen.com/crypto/dlp/publish_task";
            fetch(url, {
                method: 'POST',
                body: new URLSearchParams(params)
            }).then(rsp => {
                if (rsp.status === 200) {
                    rsp.json().then(outputValue => {
                        if (outputValue["success"] === true) {
                            if (outputValue["new_task"] === true) {
                                document.querySelector("#taskResult").value = `发布任务成功, 任务id: ${outputValue["task_id"]}`;
                            } else {
                                if (outputValue["finished"] === false) {
                                    document.querySelector("#taskResult").value = `任务已经提交, 任务id: ${outputValue["task_id"]}, 正在排队计算中...`;
                                } else {
                                    if (outputValue["task_success"] === false) {
                                        document.querySelector("#taskResult").value = `任务(id: ${outputValue["task_id"]})计算失败! \n理由: ${outputValue["result"]}`;
                                    } else {
                                        document.querySelector("#taskResult").value = `任务(id: ${outputValue["task_id"]})计算成功! \n离散对数结果: ${outputValue["result"]}`;
                                    }
                                }
                            }
                        } else {
                            document.querySelector("#taskResult").value = outputValue["reason"];
                        }
                    });
                } else {
                    rsp.text().then(reason => {
                        document.querySelector("#taskResult").value = reason;
                    })
                }
            });
        }
    }
</script>